# Ignorer les fichiers sensibles
*.env

# Ignorer tous les répertoires par défaut
*/

# Inclure uniquement les répertoires cachés (commençant par un point)
!/.*/

# Inclure explicitement deno.json
!deno.json

# Inclure explicitement le répertoire ./scripts et tout son contenu
!./scripts/

